body {
    background: linear-gradient(#000000, #649dda);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #EEE;
    font-family: 'Roboto', serif;
}

h1{
    text-align: center;
    margin-top: 0;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-image: url("../images/font_header.jpg");
}

header img {
    margin: 2em;
    height: 90px;
}

main {
    flex: 1;
}
nav{
    text-align: center;
}
nav a{
    padding-left: 1em;
    padding-right: 2em;
}
a {
    color: #060656;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}

button{
    margin: 2em;
}

p{
    margin: 1rem;
}

.login {
    text-align: center;
    margin: 1em;
}

.form-row {
    text-align: center;
    margin-bottom: 1rem;
}
.flash{
    padding: 1rem;
}
.flash-success {
    background-color: lightgreen;
}
.flash-error {
    background-color: indianred;
}

