
h1{
    text-align: center;
    margin-top: 0;
}

h2{
    text-align: center;
    font-size: 30px;
}

/*body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}*/

header{
    background-image: url("../images/font_header.jpg");
}

header img {
    margin: 2em;
    height: 90px;
}

main {
    flex: 1;
    margin: 1em;
}

footer {
    margin: 1em;
}

nav{
    text-align: center;
    font-weight: bold;
}

nav a{
    padding-left: 1em;
    padding-right: 2em;
}

a {
    color: #060656;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}

button{
    margin: 2em;
}

.form-row {
    background-color: #216ce7;
    width: 50%;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

.flash{
    padding: 1rem;
}

.flash-success {
    background-color: lightgreen;
}

.flash-error {
    background-color: indianred;
}

.tableau-Sorties{
    display: flex;
    align-items: center;
    background-color: #B0413E;
}

.filtres{
    display: flex;
    background-color: #BC956B;
}
.infos{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #AAAAAA;
}
.infos p{

    font-size: 20px;
    height: 30px;
    width: 25%;
   /* background-color: #060656;*/
}
