/* bonjour et date */

.infos{
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* Bloc filtres */

.filtres {
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: flex;
    flex-direction: column;
}

.titre_filtres {
    text-align: left;
}

.form_filtres {
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form_filtres div {
    margin-bottom: 8px;
}

.form_filtres button {
    margin-top: 0;
}

/* Tableau des sorties */

.tableau-Sorties{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
}
.listeSorties {
    overflow-y: scroll;
    height: 250px;
    border: solid rgb(83,114,116) 1px;
    border-radius: 10px;
}

.listeSorties tr th {
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 20px;
    background-color: white;
    color: rgb(83,114,116);
}

th, td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(250, 214, 192, 0.5);
}


