/* styles.css (reset) */
*{ box-sizing: border-box; }
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    color: #0f1f3b;
}
nav{
    text-align: center;
    font-weight: bold;
}

nav a{
    padding-left: 1em;
    padding-right: 2em;
}

a {
    color: #060656;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}
body{
    height: 100%;
}

.user-card > img {
     width: 350px;
     height: 350px;
 }

.user-card > h1 {
    text-align: center;
    margin: 0 0 12px;
    padding: 10px 30px 10px;
    font-size:  50px;
    color: #060656;
    font-weight: 600;
}

/* styles.css */

.user-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    padding: 70px 30px 44px;
    border-radius: 24px;
    background: center;
    background-color: #f9f9f9;
}
.form-row {
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
}

@media(width: 500px){
    .login-card {
        margin: 0;
        width: 400px;
    }
}

@keyframes pan {
    100% { background-position: 15% 50%;}
}

body{
    display: grid;
    place-items: center;
    padding: 0 24px;
    background-image: url("../images/font_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 20s infinite alternate linear;
}
@media (width:500px) {
    body{
        padding: 0;
    }
}

/* styles.css */
.label{
    font-size: 15px;
    color: #216ce7;
}

.user-card > a > button {

    width: 40%;
    height: 56px;
    padding: 0 16px;
    border: 0;
    border-radius: 8px;
    background: #216ce7;
    color: #f9f9f9;
    font-weight: 600;
}
.user-card > a > button:hover {

    background-color: rgba(255, 217, 254, 0.8);
    color: black;
}

footer{
    color: #0f1f3b;
    font-size: 25px;
    margin: 50px;
}
