/* styles.css (reset) */
*{ box-sizing: border-box; }
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    color: #0f1f3b;
}
nav{
    text-align: center;
    font-weight: bold;
}

nav a{
    padding-left: 1em;
    padding-right: 2em;
}

a {
    color: #060656;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}
body{
    height: 100%;
}


.user-card > h1 {
    text-align: center;
    margin: 0 0 12px;
    padding: 0px 5px 15px;
    font-size:  50px;
    color: #649dda;
    font-weight: 600;
}
.user-card > h2 {
    text-align: center;
    color: #060656;

}

.user-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    padding: 70px 30px 44px;
    border-radius: 24px;
    background: center;
    background-color: #f9f9f9;
}

/*Options pour les boutons des formulaires*/
.form-widget > button {
    height: 3em;
    width: 200px;
    border-radius: 8px;
    background-color: #0f1f3b;
    color: #dfdfdf;
}
.form-widget > button:hover {
    background-color: #649dda;
    color: #dfdfdf;
}
.form-widget > a > button {
    height: 3em;
    width: 200px;
    border-radius: 8px;
    background-color: #d32e2e;
    color: #000000;
}
.form-widget > a > button:hover {
    height: 3em;
    width: 200px;
    border-radius: 8px;
    background-color: #791313;
    color: #000000;
}

/*Option du container des boutons*/
.container-button {
    display: flex;
    padding-top: 50px ;
    width: 100%;
    justify-content: space-around;
}
.container-info {
    width: 400px;
    flex-direction: column;
    margin: 0 auto;
}
.container-img {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;

}
.container-img > img {
    border-color: #0f1f3b;
    width: 300px;
    height: 300px;
    border-radius: 30px;
}
.container-info > form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0.6em ;
}

.container-info > form > label {
    font-size: 20px;
    color: #0f1f3b;
    justify-self: right;
    margin-right: 0.5em;
}

.container-info > form > input {
    width: 250px;
    border-radius: 8px;
    text-align: center;
    background-color: #8fbdf5;
    flex-grow: 1;

}
/*Option visuel pour le select*/
.container-info > form > select {
    background-color: #0f1f3b;
    color: #dfdfdf;
    border-radius: 8px;
}
.container-info > form > select:hover {
    background-color: #649dda;
    color: #060656;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
}
/*Option pour les messages flash :*/
.flash{
    padding: 1rem;
}
.flash-success {
    background-color: lightgreen;
}
.flash-error {
    background-color: indianred;
}

@media(width: 500px){
    .login-card {
        margin: 0;
        width: 400px;
    }
}

@keyframes pan {
    100% { background-position: 15% 50%;}
}

body{
    display: grid;
    place-items: center;
    padding: 0 24px;
    background-image: url("../images/font_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 20s infinite alternate linear;
}
@media (width:500px) {
    body{
        padding: 0;
    }
}

/* styles.css */
.label{
    font-size: 15px;
    color: #216ce7;
}

.user-card > a > button {

    width: 40%;
    height: 56px;
    padding: 0 16px;
    border: 0;
    border-radius: 8px;
    background: #216ce7;
    color: #f9f9f9;
    font-weight: 600;
}
.user-card > a > button:hover {

    background-color: rgba(255, 217, 254, 0.8);
    color: black;
}

footer{
    color: #0f1f3b;
    font-size: 25px;
    margin: 50px;
}

.erreurform{
    color: #ff1f31;
    font-weight: bold;

}
.erreurform ul li {
    list-style: none;
}
