/*header{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    font-size: 25px;*/
/*    color: #0f1f3b;*/
/*}*/
/*nav{*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*}*/

/*nav a{*/
/*    padding-left: 1em;*/
/*    padding-right: 2em;*/
/*}*/

/*a {*/
/*    color: #060656;*/
/*    text-decoration: none;*/
/*}*/

/*a:hover {*/
/*    color: #BC956B;*/
/*}*/
/*body{*/
/*    height: 100%;*/
/*}*/


.user-card > h1 {
    text-align: center;
    /*margin: 0 0 12px;*/
    /*padding: 0px 5px 15px;*/
    font-size:  50px;
    color: #649dda;
    font-weight: 600;
}
.user-card > h2 {
    text-align: center;
    color: #060656;

}

.user-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    /*padding: 70px 30px 44px;*/
    border-radius: 24px;
    /*background: center;*/
    /*background-color: #f9f9f9;*/
}

/*Options pour les boutons des formulaires*/
.form-widget > button {
    /*height: 3em;*/
    /*width: 200px;*/
    /*border-radius: 8px;*/
    /*background-color: #0f1f3b;*/
    /*color: #dfdfdf;*/
    background-color: rgb(83,114,116);
    border-radius: 10px;
    height: 5em;
    width: 15em;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    margin-left: 1.5em;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.form-widget > button:hover {
    color: black;
    background-color: rgba(250, 214, 192, 0.8);
}
.form-widget > a > button {
    background-color: rgb(162, 15, 15);
    border-radius: 10px;
    height: 5em;
    width: 15em;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    margin-left: 1.5em;
    margin-top: 2em;
    margin-bottom: 1.5em;
}
.form-widget > a > button:hover {
    border-radius: 10px;
    height: 5em;
    width: 15em;
    background-color: #791313;
    color: #000000;
    margin-left: 1.5em;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

/*Option du container des boutons*/
.container-button {
    display: flex;
    padding-top: 50px ;
    width: 100%;
    justify-content: center;
}
.container-info {
    width: 400px;
    flex-direction: column;
    margin: 0 auto;
}
.container-img {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;

}
.container-img > img {
    width: 300px;
    height: 300px;
    border-radius: 30px;
}
.container-info > form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0.6em ;
}

.container-info > form > label {
    font-size: 15px;
    font-weight: bold;
    color: rgb(83,114,116);
    justify-self: right;
    margin-right: 0.5em;
}

.container-info > form > input {
    width: 250px;
    border-radius: 8px;
    text-align: center;
    background-color: rgba(250, 214, 192, 0.4);
    flex-grow: 1;

}
/*Option visuel pour le select*/
.container-info > form > select {
    background-color: rgb(83,114,116);
    color: #dfdfdf;
    border-radius: 8px;
}
.container-info > form > select:hover {
    background-color: rgba(250, 214, 192, 0.8);
    color: rgb(83,114,116);
}

.user-info {
    display: flex;
    flex-wrap: wrap;
}

@media(width: 500px){
    .login-card {
        margin: 0;
        width: 400px;
    }
}

.label{
    font-size: 15px;
    color: #216ce7;
}

/*.user-card > a > button {*/
    /*width: 40%;*/
    /*height: 56px;*/
    /*padding: 0 16px;*/
    /*border: 0;*/
    /*border-radius: 8px;*/
    /*background: #216ce7;*/
    /*color: #f9f9f9;*/
    /*font-weight: 600;*/

/*}*/
/*.user-card > a > button:hover {*/

/*    background-color: rgba(255, 217, 254, 0.8);*/
/*    color: black;*/
/*}*/

