{% extends 'base.html.twig' %}

{% block body %}

    <p>Ce site est réservé aux étudiants de l'ENI, merci de vous logger sur <a href="{{ path('app_login') }}">cette page</a>.</p>

{% endblock %}

{% block title %}Connectez-vous !{% endblock %}

