{% extends 'base.html.twig' %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/stylePlzLogin.css') }}">
    {% endblock %}

<div class="login-card">
    <div class ="policelog">
        <p>Ce site est réservé aux étudiants de l'ENI, merci de vous logger sur <a href="{{ path('app_login') }}">cette page</a>.</p>
    </div>

</div>

{% endblock %}

{% block title %}Connectez-vous !{% endblock %}

