<nav>
{#    <ul>#}
            {% if app.user %}
                    <div><a class="nav" href="{{ path('profil_update') }}">Modifier mon compte</a></div>

                    <div><a class="nav" href="{{ path('app_logout') }}">Déconnexion</a></div>
            {% endif %}
{#    </ul>#}
</nav>